body
{
  color: white;
  background: #c0d3ff;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#emotionname,#emotionname2  
{
  color: black;
}
.emotion
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading{
width:100%;
color:green;
}